{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <main>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Shares</th>
                        <th>Price</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                       <td colspan="4"></td>
                       <td>$10,000.00</td>
                    </tr>
                </tfoot>
                <tbody>

                    {% for value in values if value.shares != 0 %}
                    <tr>
                        <td>{{ value.symbol }}</td>
                        <td>{{ value.name }}</td>
                        <td>{{ value.shares }}</td>
                        <td>${{'%0.2f' % value.price }}</td>
                        <td>${{ '{:,.2f}'.format(value.total) }}</td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td class="italic" colspan="4">CASH</C></td>
                        <td class="italic">${{ '{:,.2f}'.format(cash) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}